page-home {

  .scroll-content{
    padding: 0px 0px !important;
  }
  .button-md{
    position: absolute;
    height: 4.6rem;
    font-size: 2rem;
    margin: 1.4rem 2.2rem;
    background-color: #6f1607;
  }
}
