<ion-header>
  <ion-navbar>
    <ion-title>Produtos</ion-title>
  </ion-navbar>
  <ion-col col-3>
    <button ion-button type="button" round class="bt-clear"
        (click)="emptyCart()"
        [attr.disabled]="itemCount === 0 ? true : null">
 Limpar pedido
</button>
</ion-col>
<ion-col md-4 class="content-cart">

      <button class="cart-button" ion-button icon-only clear color="dark"
      [attr.disabled]="itemCount === 0 ? true : null" (click)="checkout()">
          <ion-icon name="cart">
            <ion-badge class="cart-badge" class="badge badge-assertive" >{{itemCount}}</ion-badge>
            <span class="total">{{(cart | async).grossTotal | currency:'BRL':true}}</span>
          </ion-icon>

      </button>


      <span class="text--red text--bold js-cart-total"></span>
 </ion-col>
  </ion-header>

  <ion-content padding>

    <!-- <ion-item *ngFor="let product of products" >
      <h3>{{product.title}}</h3>
      <ion-thumbnail item-start *ngFor="let imgurl of product.url">
        <img [src]="imgurl.url">
      </ion-thumbnail>
    </ion-item> -->

    <ion-list>
      <ion-item (click)="navigateProduct(product._id)" *ngFor="let product of products | async " >
        <ion-thumbnail item-start>
          <img height="70" width="70" [src]="product.url[0].url" class="center">
        </ion-thumbnail>

          <h2 style="width: 150px; text-overflow: ellipsis"> <b>{{product.title}}</b></h2>
          <p style="width: 180px; text-overflow: ellipsis; ">{{product.description}}</p>
          <p style="width: 150px; text-overflow: ellipsis; color:#cc1421"> <b>R${{product.price}} </b></p>

        <ion-row>
          <ion-col col-2>

        <ion-icon name="add-circle" class="add" (click)="addProductToCart(product, 1)"></ion-icon>
         </ion-col>
         <ion-col col-2>
            <ion-icon name="remove-circle"
            *ngIf="productInCart(product) | async"
            (click)="removeProductFromCart(product, 1)" class="remove" ></ion-icon>

         </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>






  </ion-content>
