upload-product {
  .drop-zone {
    background-color: #f6f6f6;
    border: dotted 3px #dedddd;
    height: 30vh;
    display: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {
    position: relative;
    z-index: 10000;
    height: 20px;

    text-align: right;

    input[type="file"] {
        display: none;
    }

    label {
        border: 1px solid #ccc;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over {
    border: dotted 3px red;
}

}
